.education-title {
  text-align: center;
  margin-top: 5em;
}

.education-title h1 {
  font-family: "Allura", cursive;
  font-size: 4em;
}

.education-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5em;
}

.card-text {
  font-size: 1.5em;
}

.page-description {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  .description {
    font-size: 1.3em;
  }
}

.coming-soon {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Allura", cursive;
}

.coming-soon h1 {
  border: 1px solid pink;
  padding: 4em;
  width: 80%;
  margin: auto;
  text-align: center;
}
