.education-title {
  text-align: center;
  margin-top: 5em;
}

.education-title h1 {
  font-family: "Allura", cursive;
  font-size: 4em;
}

.education-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5em;
}

.card-text {
  font-size: 1em;
}

.page-description {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}
