.education-title {
  text-align: center;
  margin-top: 5em;
}

.education-title h1 {
  font-family: "Allura", cursive;
  font-size: 4em;
}

.education-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5em;
}
