.brandName {
  font-family: "Charm", cursive;
}

.navbar-style {
  background-color: #fce4ec;
}

.nav-link {
  padding-right: 1.5em;
}

.header-btn {
  font-family: "Allura", cursive;
  font-weight: 600;
  font-size: 1.5em;
}

.nav-item {
  padding-right: 2em;
}

.navbar-nav {
  justify-content: flex-end;
}
