

h1 {
  font-family: 'Allura', cursive, serif;
}

h3 {
  font-family: 'Allura', cursive, serif;
}

p {
  font-family: 'Forum', cursive, serif;
}

li {
  font-family: 'Forum', cursive, serif;
}

h5 {
  font-family: 'Forum', cursive, serif;
}

.formDisclaimer {
  font-family: 'Forum', cursive, serif;
}


.mainFaq {
  margin: 50px;
  border: 20px solid #FFCCCC;
  padding: 100px;
}

.navcolor {
  background-color: #FFCCCC;
  border-bottom: solid white 2px;
}


.imageLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -380px;
}

.fbLogo {
  width: 45px;
  height: 40px;
}

.igLogo {
  width: 45px;
  height: 40px;
}


.textLayout {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.mainDiv {
  background-color:white;
  width: auto;
}


.logo {
  width: 800px;
  height: 250px;
}

.logoEducate {
  width: 800px;
  height: 250px;
  margin-left: 233px;
  margin-top: -13px;
}

.salonFront {
  opacity: 0.3;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.bootstrapCarousel {
  position: absolute;
  top: 50%;
  left: 27%;
}

.mediaLogo {
  margin-left: 10px;
}


.hairForm {
  display: flex;
  justify-content: center;
}

.custForm {
  margin-top: 3%;
  width: 70%;
}

.uploaderPosition {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
}

.consultHeading {
  margin-top: 150px;
}

.indentQ {
  margin-left: 20px;
  font-weight: bold;
}

.indentA {
  margin-left: 50px;
  font-style: italic;
}

.faqInfo {
  display: flex;
  justify-content: center;
  margin-top: 30%;
}


.carouselEdit {
  border: 10px solid pink;
}


.naviLinks {
  display: flex;
  margin-left: 55em;
}

.imageLogoFaq {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -175px;
  margin-left: -380px;
}

.cardSize1 {
  height: 300px;
  width: 300px;
}

.card-img-top {
  border: solid pink 25px;
  height: 350px;
  width: 370px;
}


.cardSize2 {
  height: 200px;
  width: 300px;
}

.firstCard {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-left: -10px;
  margin-bottom: 200px;
}

.cardSize3 {
  height: 200px;
  width: 300px;
}

.card-img-top4 {
  border: solid pink 25px;
  height: 350px;
  width: 300px;
}

.card-img-top3 {
  border: solid pink 25px;
  height: 350px;
  width: 300px;
}

.card-img-top2 {
  border: solid pink 25px;
  height: 350px;
  width: 300px;
}

.hairClasses {
  margin-top: 70px;
  margin-left: 390px;
}

.classType {
  margin-left: 80px;
}

.educateHeader {
  margin-left: -100px;
  margin-top: 40px;
}

/*.mainEducate {
  border: 20px solid #FFCCCC;
  padding: 55px;
}*/

.imageLogoEducate {
  position: absolute;
  margin: 50px;
  border: 20px solid #FFCCCC;
  padding: 29px;
}

.imageLogoBusiness {
  position: absolute;
  top: 20%;
  left: 7%;
  border: 20px solid #FFCCCC;
  padding: 100px;
}

.classBalayagePic {
  margin-top: 100px;
}

.balayagePic {
  width: 470px;
  height: 590px;
  float: left;
  margin-left: -90px;
  margin-right: 70px;
  border: solid pink 25px;
}

.sBar {
  background-color: pink;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: black;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 3;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: lightpink;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: pink;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Antic_Slab', sans-serif;
}


.home,
.services,
.education,
.faq {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

#servicesCaption {
  margin-top: 300px;
}

.photographyPic {
  width: 540px;
  height: 600px;
  float: left;
  margin-left: 150px;
  margin-right: 70px;
  border: solid pink 25px;
}

.photoClassPic {
  margin-top: 150px;
}

.salonBusinessPic {
  width: 500px;
  height: 600px;
  border: solid pink 25px;
  float: left;
  margin-left: 150px;
  margin-right: 50px;
}